/* Modern css reset https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Added Css */
.dashboard-icon {
  width: 100px;
}

.header-icon,
.sidebar-icon,
.project-icon {
  width: 30px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(196, 42, 37);
}

.avatar-big {
  width: 100px;
  height: 100px;
}

.avatar-small {
  width: 50px;
  height: 50px;
}
